<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Scss/style.css">
    <title>HOME</title>
</head>
<body>
    <nav class="navbar-dark">
       <ul class="navbar-items">
            <li><a class="navbar-item" href="#">My Dashboard</a></li>
           <li><a class="navbar-item" href="#">Home</a></li>
           <li><a class="navbar-item" href="#">Employment</a></li>
           <li><a class="navbar-item" href="#">Login</a></li>
           <li><a class="navbar-item" href="#">SignUp</a></li>
       </ul>
    </nav>
    <nav class="navbar-dark">
        <form class="navbar-item-search" action="">
            <input type="text" id="search-box" placeholder="Search For Jobs Available">
            <button type="submit">Search</button>
        </form>
    </nav>
</body>
</html>
